{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "VMware Aria Automation Orchestrator API",
    "description" : "<h1>REST Resources</h1>\n\n<p>This API supports a <a href=\"http://en.wikipedia.org/wiki/Representational_State_Transfer\">\nRepresentational State Transfer (REST)</a> model for accessing a set of resources through a fixed set of operations.</p>\n\n<h2>Authorizing requests</h2>\nEvery request made using the Automation Orchestrator REST API must be authorized by an authenticated user.\n\n<p>Depending on whether you configure Automation Orchestrator with vCenter Single Sign-On or oauth2.0, the authentication scheme for the Automation Orchestrator REST API is different.</p>\n\n<h3>Single Sign-On Authentication</h3>\n\n<p>If Automation Orchestrator is configured with the vCenter Single Sign-On (SSO) server, you need a principal\nholder-of-key (HoK) token to access system objects in Automation Orchestrator through the REST API.</p>\n\n<pre>The HoK token is passed as a request <strong>Authorization</strong> header element. The value must be gzip, base64<br />encoded string.</pre>\n\n<h3>Oauth2.0 Authentication</h3>\n\n<p>If Automation Orchestrator is configured with VIDM you need an oauth bearer access token to access system objects in Automation Orchestrator through the REST API.</p>\n\n<pre>The oauth bearer token is passed as request <strong>Authorization</strong> header element. The value must be <strong>Bearer {token}</strong>.</pre>\n\n<h1>Data Model</h1>\n\n<p>\nAll endpoints act on a common set of data. The data can be represented with difference media (i.e. \\\"MIME\\\") types,\ndepending on the endpoint that consumes and/or produces the data. The data can be described by an\n<a href=\"http://www.w3.org/XML/Schema\">XML Schema</a>, which definitively describes the XML representation of\nthe data, but is also useful for describing the other formats of the data, such as <a href=\"http://json.org\">JSON</a>.\n</p>\n\n<p>\nThis document describes the data using terms based on <a href=\"o11n-sdk-rest.xsd\">this schema</a>.\nData can be grouped by namespace, with a schema document describing the <i>elements</i> and <i>types</i> of the\nnamespace. In general, <i>types</i> define the structure of the data and <i>elements</i> are <i>instances</i> of a\ntype. For example, <i>elements</i> are usually produced by (or consumed by) a REST endpoint,\nand the structure of each element is described by its <i>type</i>.\n</p>\n\n<pre>\nTo be able to test the service bellow you need to enable basic authentication over sso.\nThis happens by adding the following property to vmo.properties configuration file:<br />\n<pre>com.vmware.o11n.sso.basic-authentication.enabled = true</pre>\n</pre>\n",
    "version" : "8.x"
  },
  "servers" : [ {
    "url" : "https://vra.vcf.lab/vco/api",
    "description" : "Generated server url"
  } ],
  "security" : [ {
    "BearerAuth" : [ ]
  }, {
    "BasicAuth" : [ ]
  } ],
  "paths" : {
    "/workflows/{id}/content" : {
      "get" : {
        "tags" : [ "Workflow Service" ],
        "summary" : "Access workflow's schema",
        "description" : "The schema data is returned and response Content-type is set to correct media type, for example \"Content-Type:application/json\"",
        "operationId" : "getWorkflowSchema",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              }
            }
          },
          "404" : {
            "description" : "Can not find a workflow with the specified ID or the user does not have 'read' access rights for that workflow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/schema-workflow"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Workflow Service" ],
        "summary" : "Update workflow's schema",
        "description" : "Updates workflow's schema for a given workflow ID and schema",
        "operationId" : "updateWorkflowSchemaContent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/schema-workflow"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/schema-workflow"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "404" : {
            "description" : "Can not find a workflow with the specified ID or the user does not have 'read' access rights for that workflow"
          }
        }
      }
    },
    "/workflows/validate/schema" : {
      "put" : {
        "tags" : [ "Workflow Service" ],
        "summary" : "Validate workflow content",
        "description" : "Validate provided workflow content",
        "operationId" : "validate",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/schema-workflow"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/schema-workflow"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Validation completed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsValidationMessageList"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsValidationMessageList"
                }
              }
            }
          }
        }
      }
    },
    "/user-search/{id}" : {
      "put" : {
        "tags" : [ "User Search Service" ],
        "summary" : "Updates an existing user search",
        "description" : "Updates the user search with the id provided in the model with the model's data. Can be used to update recent search usage.",
        "operationId" : "updateUserSearch",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsUserSearch"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsUserSearch"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              }
            }
          },
          "400" : {
            "description" : "The provided object is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserSearch"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "User Search Service" ],
        "summary" : "Deletes the user search with the provided ID",
        "description" : "Deletes the user search with the provided ID",
        "operationId" : "deleteUserSearch",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "204" : {
            "description" : "No Content"
          }
        }
      }
    },
    "/resources/{id}" : {
      "get" : {
        "tags" : [ "Resource Service" ],
        "summary" : "Get resource",
        "description" : "The returned definition contains base data for the resource.\nWhen this endpoint is called with the MIME type of the specified resource as the desired response content type, this operation is the equivalent of \"Export resource\":\nExports a resource by its ID. If the request is successful, the resource binary content is available in the body of response message. It is up to the client application to properly fetch and process this attachment, for example by saving it to local file system. The exported resource has the same internal format as the resource exported using Automation Orchestrator client.",
        "operationId" : "getResource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/vnd.o11n.resource.metadata+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              },
              "application/vnd.o11n.resource.metadata+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              }
            }
          },
          "401" : {
            "description" : "User is not authorized",
            "content" : {
              "application/vnd.o11n.resource.metadata+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              },
              "application/vnd.o11n.resource.metadata+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find resource with the specified ID.",
            "content" : {
              "application/vnd.o11n.resource.metadata+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              },
              "application/vnd.o11n.resource.metadata+xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Resource"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Resource Service" ],
        "summary" : "Update resource metadata",
        "description" : "Update resource metadata. Mime type can't be updated separately from content.",
        "operationId" : "updateResource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Resource"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Resource"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful"
          },
          "400" : {
            "description" : "The request is invalid"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "Cannot find resource with the specified ID."
          },
          "204" : {
            "description" : "No Content"
          }
        }
      },
      "post" : {
        "tags" : [ "Resource Service" ],
        "summary" : "Update resource content",
        "description" : "Update resource content.",
        "operationId" : "updateResource_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "categoryId",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/octet-stream" : {
              "schema" : {
                "required" : [ "file" ],
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "required" : [ "file" ],
                "type" : "object",
                "properties" : {
                  "file" : {
                    "type" : "string",
                    "format" : "binary"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "Cannot find resource with the specified ID."
          }
        }
      },
      "delete" : {
        "tags" : [ "Resource Service" ],
        "summary" : "Delete resource",
        "description" : "If the resource is referenced by some workflow, it is considered to be 'in use' and the delete operation will fail, unless the 'force' option is provided.",
        "operationId" : "deleteResource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "force",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "Cannot find an resource with the specified ID"
          }
        }
      }
    },
    "/policies/{id}" : {
      "get" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Get policy",
        "description" : "Get policy",
        "operationId" : "getPolicy",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a policy with the specified ID or the user does not have 'read' rights over it",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicy"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Update policy",
        "description" : "Updates the policy. Can be used to set startup behavior and priority",
        "operationId" : "updatePolicy",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsPolicy"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsPolicy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "The request is invalid"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "404" : {
            "description" : "Cannot find a policy with the specified ID or the user does not have 'update' rights over it"
          }
        }
      },
      "delete" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Delete policy",
        "description" : "Delete policy",
        "operationId" : "deletePolicy",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Cannot find a policy with the specified ID or the user does not have 'delete' rights over it"
          },
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      }
    },
    "/policies/{id}/state" : {
      "get" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Get policy state",
        "description" : "Get policy state",
        "operationId" : "getPolicyState",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a policy with the specified ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "started", "stopped", "stopping", "starting" ]
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Update policy state",
        "description" : "Updates the policy state. Can be used to start or stop a policy",
        "operationId" : "updatePolicyState",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string",
                "enum" : [ "started", "stopped", "stopping", "starting" ]
              }
            },
            "application/xml" : {
              "schema" : {
                "type" : "string",
                "enum" : [ "started", "stopped", "stopping", "starting" ]
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "400" : {
            "description" : "The request is invalid"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "404" : {
            "description" : "Cannot find a policy with the specified ID or the user does not have 'update' rights over it"
          }
        }
      }
    },
    "/policies/templates/{id}" : {
      "get" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Get policy template",
        "description" : "Get policy template\nWhen a request is sent to this endpoint with a desired response content type of \"application/vcoobject+xml\", this operation is the equivalent to \"Export policy template\":\nExports a policy template by its ID. If the request is successful, the policy template xml content is available in the body of the response message. It is up to the client application to properly fetch and process this attachment, for example, by saving it to the local file system",
        "operationId" : "getPolicyTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a policy template with the specified ID or the user does not have 'read' rights over it",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsPolicyTemplate"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Update policy template",
        "description" : "Update policy template",
        "operationId" : "updatePolicyTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsPolicyTemplate"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsPolicyTemplate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "400" : {
            "description" : "The request is invalid (validation error)"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      },
      "delete" : {
        "tags" : [ "Policy Service" ],
        "summary" : "Delete policy template",
        "description" : "Delete policy template",
        "operationId" : "deletePolicyTemplate",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "404" : {
            "description" : "Cannot find a policy template with the specified ID or the user does not have 'delete' rights over it"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      }
    },
    "/packages/{packageName}" : {
      "get" : {
        "tags" : [ "Packages Service" ],
        "summary" : "Export package",
        "description" : "Exports a package by its name. If the request is successful, the package binary content is available as attachment with MIME type application/zip (that is, a normal ZIP file) with a default file name {packagename}.package<. It is up to the client application to properly fetch and process this attachment, for example by saving it to the local file system. The exported package has the same internal format as the packages exported by using the Automation Orchestrator client.\nWhen a request is sent to this endpoint with \"application/xml\" or \"application/json\" as the desiredresponse content type, this operation is the equivalent to \"\":\nReturns details of the package, with list all contained workflows and actions.",
        "operationId" : "exportPackage",
        "parameters" : [ {
          "name" : "packageName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "exportConfigurationAttributeValues",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "exportGlobalTags",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "exportVersionHistory",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "exportConfigSecureStringAttributeValues",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "allowedOperations",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "vef"
          }
        }, {
          "name" : "exportExtensionData",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Cannot find a package with the specified name",
            "content" : {
              "application/zip" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/zip" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          },
          "401" : {
            "description" : "User is not authorized",
            "content" : {
              "application/zip" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Packages Service" ],
        "summary" : "Create new package",
        "description" : "Create new package.",
        "operationId" : "createPackage",
        "parameters" : [ {
          "name" : "packageName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePackageDetails"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePackageDetails"
              }
            }
          }
        },
        "responses" : {
          "409" : {
            "description" : "Package already exists"
          },
          "201" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          }
        }
      },
      "delete" : {
        "tags" : [ "Packages Service" ],
        "summary" : "Delete package",
        "description" : "<p>Deletes a package with a given name.</p><p>Takes 3 options for deleting a package:</p><ul><li>deletePackage - deletes the package without the content</li><li>deletePackageWithContent - deletes the package along with the content. If other packages share elements with this package, they will be deleted</li><li>deletePackageKeepingShared - deletes the package along with the content. If other packages share elements with this package, the elements will not be removed.</li></ul><p>If no option parameter is provided, the default one is used: deletePackage</p>",
        "operationId" : "deletePackage",
        "parameters" : [ {
          "name" : "packageName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "option",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "deletePackage"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Cannot find a package with the specified name"
          },
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          }
        }
      },
      "patch" : {
        "tags" : [ "Packages Service" ],
        "summary" : "Update package",
        "description" : "Update package.",
        "operationId" : "updatePackage",
        "parameters" : [ {
          "name" : "packageName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdatePackageDetails"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdatePackageDetails"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          }
        }
      }
    },
    "/packages/{packageName}/element-version" : {
      "put" : {
        "tags" : [ "Packages Service" ],
        "summary" : "Update package elements version",
        "description" : "Updates the version of the elements in a package",
        "operationId" : "incrementVersion",
        "parameters" : [ {
          "name" : "packageName",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PackageVersionUpdate"
              }
            },
            "application/atom+xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/PackageVersionUpdate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "Package doesn't exist"
          }
        }
      }
    },
    "/forms/{id}" : {
      "get" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Get form by item id",
        "description" : "Get form by item id",
        "operationId" : "get",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "designerMod",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "Can not find form for the specified item id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Update form.",
        "description" : "Update form.",
        "operationId" : "update",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful. Updated form is returned as a String.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Create a form.",
        "description" : "Create a form.",
        "operationId" : "create_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Delete a form.",
        "description" : "Delete a form.",
        "operationId" : "delete",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/forms/{id}/{itemId}" : {
      "get" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Get form by item id",
        "description" : "Get form by item id",
        "operationId" : "get_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "designerMod",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "404" : {
            "description" : "Can not find form for the specified item id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Update form.",
        "description" : "Update form.",
        "operationId" : "update_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/JsonNode"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful. Updated form is returned as a String.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Forms Service" ],
        "summary" : "Delete a form.",
        "description" : "Delete a form.",
        "operationId" : "delete_1",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "itemId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    },
    "/environments/{id}" : {
      "get" : {
        "tags" : [ "Action Environments Service" ],
        "summary" : "Retrieves a specified action environment",
        "description" : "Retrieves a specified action environment",
        "operationId" : "getActionEnvironment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironment"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironment"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Action Environments Service" ],
        "summary" : "Updates specified action environment",
        "description" : "Updates specified action environment",
        "operationId" : "updateActionEnvironment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/actionEnvironment"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/actionEnvironment"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironment"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironment"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Action Environments Service" ],
        "summary" : "Deletes specified action environment",
        "description" : "Deletes specified action environment",
        "operationId" : "deleteActionEnvironment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      }
    },
    "/environments/repositories/{id}" : {
      "get" : {
        "tags" : [ "Action Environments Repositories Service" ],
        "summary" : "Retrieves a specified action environment repository",
        "description" : "Retrieves a specified action environment repository",
        "operationId" : "getActionEnvironmentRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironmentRepository"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironmentRepository"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Action Environments Repositories Service" ],
        "summary" : "Updates specified action environment repository",
        "description" : "Updates specified action environment repository",
        "operationId" : "updateActionEnvironmentRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/actionEnvironmentRepository"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/actionEnvironmentRepository"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "202" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironmentRepository"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/actionEnvironmentRepository"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Action Environments Repositories Service" ],
        "summary" : "Deletes specified action environment repository",
        "description" : "Deletes specified action environment repository",
        "operationId" : "deleteActionEnvironmentRepository",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      }
    },
    "/configurations/{id}" : {
      "get" : {
        "tags" : [ "Configuration Service" ],
        "summary" : "Get configuration",
        "description" : "Retrieves the definition of a configuration. The returned definition contains base data for the configuration.\nWhen a request is sent to this endpoint with \"application/vcoobject+xml\" as the desired response content type, this operation is the equivalent of \"Export configuration\":\nExports a configuration by its ID. If the request is successful, the configuration binary content is available in the body of the response message. It is up to the client application to properly fetch and process this attachment, for example, by saving it to the local file system. The exported configuration has the same internal format as the configurations exported by using the Automation Orchestrator client.",
        "operationId" : "getConfiguration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              }
            }
          },
          "401" : {
            "description" : "User is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find configuration with the specified ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsConfiguration"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Configuration Service" ],
        "summary" : "Update а configuration",
        "description" : "Update а configuration.",
        "operationId" : "updateConfiguration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsConfiguration"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsConfiguration"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "The request is invalid"
          },
          "204" : {
            "description" : "No Content"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "The resource is not found"
          }
        }
      },
      "delete" : {
        "tags" : [ "Configuration Service" ],
        "summary" : "Delete configuration",
        "description" : "Deletes a configuration with a given ID. If the configuration is referenced by some workflow it is considered to be 'in use' and the delete operation will fail, unless the 'force' option is provided.",
        "operationId" : "deleteConfiguration",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "force",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "404" : {
            "description" : "Cannot find configuration with the specified name"
          }
        }
      }
    },
    "/categories/{id}" : {
      "get" : {
        "tags" : [ "Category Service" ],
        "summary" : "Get category",
        "description" : "Endpoint for retrieving details for a category.",
        "operationId" : "getCategory",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "401" : {
            "description" : "User is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a category with the specified ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Category Service" ],
        "summary" : "Updates category",
        "description" : "Updates the category with the given ID. The type of the category can't be changed.",
        "operationId" : "updateCategory",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/category-context"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/category-context"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "Cannot find a category with the specified ID and type"
          },
          "204" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "User is not authorized"
          },
          "400" : {
            "description" : "Category name must be specified"
          }
        }
      },
      "post" : {
        "tags" : [ "Category Service" ],
        "summary" : "Add child category",
        "description" : "Endpoint for adding child categories.",
        "operationId" : "addChildCategory",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/category-context"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/category-context"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "401" : {
            "description" : "User is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "400" : {
            "description" : "Category name must be specified",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a category with the specified ID",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          },
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCategory"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Category Service" ],
        "summary" : "Delete category",
        "description" : "Deletes a category with a given ID.",
        "operationId" : "deleteCategory",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deleteNonEmptyContent",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "Cannot find a category with the specified ID,"
          },
          "409" : {
            "description" : "Category has child elements"
          },
          "204" : {
            "description" : "Delete operation completed OK"
          },
          "403" : {
            "description" : "User doesn't have permission to delete the category"
          }
        }
      }
    },
    "/authorization-groups/{id}" : {
      "get" : {
        "tags" : [ "Authorization Groups Service" ],
        "summary" : "Get an Automation Orchestrator's authorization group",
        "description" : "Retrieve an Automation Orchestrator's authorization group.",
        "operationId" : "getAuthorizationGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsAuthorizationGroup"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsAuthorizationGroup"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a group with the specified id.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsAuthorizationGroup"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsAuthorizationGroup"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Authorization Groups Service" ],
        "summary" : "Update an Automation Orchestrator's authorization group",
        "description" : "Update an Automation Orchestrator's authorization group.",
        "operationId" : "updateAuthorizationGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsAuthorizationGroup"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsAuthorizationGroup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "The request is invalid"
          },
          "204" : {
            "description" : "The request is successful"
          }
        }
      },
      "delete" : {
        "tags" : [ "Authorization Groups Service" ],
        "summary" : "Delete an Automation Orchestrator's authorization group",
        "description" : "Delete an Automation Orchestrator's authorization group.",
        "operationId" : "deleteAuthorizationGroup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "The request is successful"
          }
        }
      }
    },
    "/authorization-groups/{groupId}/{objectType}/{objectId}" : {
      "put" : {
        "tags" : [ "Authorization Groups Service" ],
        "summary" : "Creates an Automation Orchestrator's authorization group",
        "description" : "Creates an Automation Orchestrator's authorization group.",
        "operationId" : "addReferenceToGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "The request is invalid"
          },
          "204" : {
            "description" : "The group is created"
          }
        }
      },
      "delete" : {
        "tags" : [ "Authorization Groups Service" ],
        "summary" : "Delete an Automation Orchestrator's authorization group",
        "description" : "Delete an Automation Orchestrator's authorization group.",
        "operationId" : "removeReferenceFromGroup",
        "parameters" : [ {
          "name" : "groupId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectType",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "objectId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "The request is invalid"
          },
          "204" : {
            "description" : "The group is created"
          }
        }
      }
    },
    "/actions/{id}" : {
      "put" : {
        "tags" : [ "Actions Service" ],
        "summary" : "Updates the action with the given ID with the parameters provided in the request body",
        "operationId" : "updateAction",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "updateReferences",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "X-VRO-Changeset-Sha",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Action"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/Action"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The action has been updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              }
            }
          },
          "400" : {
            "description" : "The request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsActionUpdateResult"
                }
              }
            }
          }
        }
      }
    },
    "/actions/runs/{executionId}/debugger" : {
      "get" : {
        "tags" : [ "Actions Service" ],
        "summary" : "Get debug context",
        "description" : "Returns the current debug context",
        "operationId" : "getDebugInfo",
        "parameters" : [ {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "404" : {
            "description" : "The requested action execution was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              }
            }
          },
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugLocation"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Actions Service" ],
        "summary" : "Execute a debugger context operation",
        "description" : "Execute a debugger operation in the current debug context",
        "operationId" : "executeDebuggerOperation",
        "parameters" : [ {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsDebugOperation"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsDebugOperation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "The requested action execution was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              }
            }
          },
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsDebugOperation"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Actions Service" ],
        "summary" : "Change debug context",
        "description" : "Execute a debugger operation that changes the debug context",
        "operationId" : "controlDebugger",
        "parameters" : [ {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsDebugControlLocation"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsDebugControlLocation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "404" : {
            "description" : "The requested action execution was not found"
          },
          "200" : {
            "description" : "The request is successful"
          },
          "401" : {
            "description" : "The user is not authorized"
          }
        }
      }
    },
    "/workflows" : {
      "get" : {
        "tags" : [ "Workflow Service" ],
        "summary" : "Get all workflows",
        "description" : "Get all workflows",
        "operationId" : "getAllWorkflows",
        "parameters" : [ {
          "name" : "maxResult",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 2147483647
          }
        }, {
          "name" : "startIndex",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "queryCount",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "conditions",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "sortOrders",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "tags",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inventory-items"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inventory-items"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inventory-items"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inventory-items"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workflow Service" ],
        "summary" : "Create new workflow",
        "description" : "Creates new workflow.\nWhen a request is sent to this endpoint with \"application/octet-stream\" or \"multipart/form-data\" as the value for the Content-Type header this operation is equivalent to \"Import/upload a workflow\":\nImports a workflow in a given category. The workflow binary content should be available as multi-part content (see RFC-2387 for details).<br />Details of working with multi-part resources depend on the used client HTTP/REST library. For example, in Spring it will look like:<br /><pre>Sample client code:-------------------String url = \"https://localhost:8281/vco/api/workflows/\";MultiValueMap<String, Resource> parts = new LinkedMultiValueMap<String, Resource>();Resource r = new FileSystemResource(\"D:/path/to/some.workflow\");parts.put(\"file\", Arrays.asList(r));parts.put(\"categoryId\", \"\");new RestTemplate().postForLocation(url, parts); ------------------- </pre>",
        "operationId" : "createWorkflow",
        "parameters" : [ {
          "name" : "uniqueName",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsWorkflow"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsWorkflow"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "The request is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              }
            }
          },
          "201" : {
            "description" : "Workflow successfully created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflow"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowId}/executions" : {
      "get" : {
        "tags" : [ "Workflow Run Service" ],
        "summary" : "Get all executions",
        "description" : "Retrieves all workflow runs for a given workflow and filters by current user's permissions.",
        "operationId" : "getAllExecutionsFor",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maxResult",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 2147483647
          }
        }, {
          "name" : "startIndex",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "keys",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "conditions",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "sortOrders",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a workflow with the specified ID or the user does not have 'read' access rights for that workflow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PresentationExecutionsList"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workflow Run Service" ],
        "summary" : "Start workflow execution",
        "description" : "Creates a new instance of a workflow's run, by using the passed parameters. The workflow run is an asynchronous, so the call does not return a response body.",
        "operationId" : "startWorkflowExecution",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExecutionContext"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExecutionContext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "The request is invalid(validation error)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              }
            }
          },
          "202" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              }
            }
          },
          "404" : {
            "description" : "Cannot find a workflow with the specified ID or the user does not have 'read' access rights for that workflow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsWorkflowExecution"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowId}/executions/{executionId}/interaction" : {
      "get" : {
        "tags" : [ "Workflow Run Service" ],
        "summary" : "Get user interaction",
        "description" : "Retrieves user interaction details for a workflow run. If a workflow run with ID: <b>executionId</b> has a user interaction request, the workflow run is suspended until a user answers the interaction request. This API call returns the user interaction parameter, which has to be filled to answer it.",
        "operationId" : "getUserInteraction",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              }
            }
          },
          "404" : {
            "description" : "Can not find a workflow with the specified ID or the user does not have 'read' access rights for that workflow",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              },
              "application/xml" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsUserInteraction"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Workflow Run Service" ],
        "summary" : "Answers user interaction",
        "description" : "Answers a user interaction for a specific workflow run. If a workflow run with ID: <b>executionId</b> has a user interaction request, the workflow run is suspended until a user answers the interaction request. To answer a user interaction, use this API call with appropriate parameters.",
        "operationId" : "answerUserInteraction",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExecutionContext"
              }
            },
            "application/xml" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExecutionContext"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "400" : {
            "description" : "The request is invalid(validation error)"
          },
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "404" : {
            "description" : "Can not find a workflow with the specified ID or the user does not have 'read' access rights for that workflow"
          }
        }
      },
      "delete" : {
        "tags" : [ "Workflow Run Service" ],
        "summary" : "Cancel an user interaction",
        "description" : "Cancel an user interaction for a specific workflow run.",
        "operationId" : "cancelUserInteraction",
        "parameters" : [ {
          "name" : "workflowId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "executionId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "400" : {
            "description" : "The request is invalid(validation error)"
          },
          "204" : {
            "description" : "No content"
          },
          "401" : {
            "description" : "The user is not authorized"
          },
          "404" : {
            "description" : "Can not find an user interaction for the specified workflow run ID or the user does not have 'read' access rights for that user interaction"
          }
        }
      }
    },
    "/workflows/{id}/versions" : {
      "get" : {
        "tags" : [ "content-version-controller" ],
        "operationId" : "getWorkflowHistory",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "maxResult",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 2147483647
          }
        }, {
          "name" : "startFromId",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "HEAD"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCommitList"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "content-version-controller" ],
        "operationId" : "createWorkflowChangeset",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WsWorkflowChangeSet"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WsCommit"
                }
              }
            }
          }
        }
      }
    },
    "/user-search" : {
      "get" : {
        "tags" : [ "User Search Service" ],
        "summary" : "Retrieves a list of user searches",
        "description" : "Retrieves a list user searches that correspond to the provided context",
        "operationId" : "getUserSearches",
        "parameters" : [ {
          "name" : "context",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The request is successful",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "The provided context is invalid",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              },
              "application/xml" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/WsUserSearch"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Search Service" ],
[...]
