{"openapi":"3.0.1","info":{"title":"VMware Aria Automation Assembler IaaS API","description":"IAAS API is a RESTful service, which allows users to execute provisioning related UI actions via an API.\n\nThis page describes the RESTful APIs for IAAS API. The APIs facilitate CRUD operations on the various resources and entities used throughout VMware Aria Automation Assembler(Cloud Accounts, Cloud zones, Computes, Mappings, etc.) and allows operations on them (creating a cloud account, patching a machine, creating image progile, etc.).\n\nThe APIs that list collections of resources also support OData like implementation. Below query params can be used across different IAAS API endpoints\n\nExample:\n1. `$orderby` - returns a result with the rows being sorted by the values of provided attribute.\n    ```/iaas/api/cloud-accounts?$orderby=name%20desc```\n\n2. `$top` -  number of records you want to get.\n    ```/iaas/api/cloud-accounts?$top=20```\n\n3. `$skip` -  number of records you want to skip.\n     ```/iaas/api/cloud-accounts?$skip=10```\n\n4. `$select` - select a subset of properties to include in the response.\n       ```/iaas/api/machines?$select=name```\n\n5. `$filter` -  filter the results by a specified predicate expression. Operators: eq, ne, and, or.\\\n    ```/iaas/api/cloud-accounts?$filter=name%20eq%20'ABC*'``` - name starts with 'ABC'\\\n    ```/iaas/api/cloud-accounts?$filter=name%20eq%20'*ABC*'``` - name contains 'ABC'\\\n    ```/iaas/api/cloud-accounts?$filter=name%20eq%20'*ABC'``` - name ends with 'ABC'\\\n    ```/iaas/api/cloud-accounts?$filter=name%20ne%20'example-cloud-account'%20or%20customProperties.isExternal%20eq%20'false'```\\\n\n    /iaas/api/projects and /iaas/api/deployments support different format for partial match:\\\n    ```/iaas/api/projects?$filter=startswith(name, 'ABC')``` - name starts with 'ABC'\\\n    ```/iaas/api/projects?$filter=substringof('ABC', name``` - name contains 'ABC'\\\n    ```/iaas/api/projects?$filter=endswith(name, 'ABC')``` - name ends with 'ABC'\\\n\n6. `$count` -  flag which when specified, regardless of the assigned value, shows the total number\nof records. If the collection has a filter it shows the number of records matching the filter.\\\n    ```/iaas/api/cloud-accounts?$count=true```\n\n7. `page`, `size` - page used in conjunction with `size` helps in pagination of resources.\n    ```/iaas/api/storage-profiles/{id}/storage-profile-associations?page=0&size=10```\n\n","contact":{"name":"VMware","url":"https://www.vmware.com/","email":"sales@vmware.com"},"license":{"name":"Copyright (c) 2023 VMware, Inc. All Rights Reserved.","url":"https://www.vmware.com/cloud-solutions.html"},"version":"2021-07-15"},"servers":[{"url":"https://beamy-aria-auto-2.eurafric.com"}],"security":[{"Authorization":[]}],"paths":{"/iaas/api/storage-profiles/{id}":{"get":{"tags":["Storage Profile"],"summary":"Get storage profile","description":"Get storage profile with a given id","operationId":"getStorageProfile","parameters":[{"name":"id","in":"path","description":"The ID of storage profile.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfile"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"put":{"tags":["Storage Profile"],"summary":"Replace storage profile","description":"Replace storage profile with a given id","operationId":"replaceStorageProfile","parameters":[{"name":"id","in":"path","description":"The ID of the storage profile.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileSpecification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileSpecification"}}},"required":true},"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfile"}}}},"400":{"description":"invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"delete":{"tags":["Storage Profile"],"summary":"Delete storage profile","description":"Delete storage profile with a given id","operationId":"deleteStorageProfile","parameters":[{"name":"id","in":"path","description":"The ID of the storage profile.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"204":{"description":"No content"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/projects/{id}/zones":{"get":{"tags":["Project"],"summary":"Get project zone assignments","description":"Get all zones assigned to a project by pages","operationId":"handleGetProjectZoneAssignments","parameters":[{"name":"id","in":"path","description":"The ID of the project.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}}],"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectZoneAssignmentResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"put":{"tags":["Project"],"summary":"Update all zone assignments to a project","description":"Update all zone assignments to a project asynchronously","operationId":"updateProjectZoneAssignments","parameters":[{"name":"id","in":"path","description":"The ID of the project.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"List of zones and their respective configurations assigned to a project.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneAssignmentsSpecification"}}},"required":true},"responses":{"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/naming":{"get":{"tags":["Custom Naming"],"summary":"Get All Custom Names","description":"Get All Custom Names","operationId":"getAllCustomNames","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomNamingViewResult"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"put":{"tags":["Custom Naming"],"summary":"Update custom name","description":"Update custom name","operationId":"updateCustomName","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Custom Name specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomNamingModel"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomNaming"}}}},"204":{"description":"No content"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Custom Naming"],"summary":"Create Custom Name","description":"Create Custom Name","operationId":"createCustomName","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Custom naming instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomNamingModel"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomNaming"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/zones":{"get":{"tags":["Location"],"summary":"Get zones","description":"Get all zones","operationId":"getZones","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Location"],"summary":"Create zone","description":"Create zone","operationId":"createZone","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Zone specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ZoneSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Zone"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/tags/tags-usage":{"post":{"tags":["Tags"],"summary":"Get usage of the tags","description":"Get documents of all resources that are assigned with the provided tags","operationId":"getTagsUsage","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Tag Usage Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUsageSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"202":{"description":"Accepted"}}}},"/iaas/api/tags":{"get":{"tags":["Tags"],"summary":"Get tags","description":"Get all tags","operationId":"getTags","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$select","in":"query","description":"Select a subset of properties to include in the response.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Tags"],"summary":"Create Tag","description":"Create a new tag","operationId":"createTag","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Tag specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/storage-profiles-vsphere":{"get":{"tags":["Storage Profile"],"summary":"Get vSphere storage profiles","description":"Get all vSphere storage profiles","operationId":"getVSphereStorageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileVsphereResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Storage Profile"],"summary":"Create vSphere storage profile","description":"Create vSphere storage profile","operationId":"createVSphereStorageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileVsphereSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileVsphereSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VsphereStorageProfile"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/storage-profiles-gcp":{"get":{"tags":["Storage Profile"],"summary":"Get GCP storage profiles","description":"Get all GCP storage profiles","operationId":"getGcpStorageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileGcpResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Storage Profile"],"summary":"Create GCP storage profile","description":"Create GCP storage profile","operationId":"createGcpStorageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileGcpSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileGcpSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GcpStorageProfile"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/storage-profiles-azure":{"get":{"tags":["Storage Profile"],"summary":"Get Azure storage profiles","description":"Get all Azure storage profiles","operationId":"getAzureStorageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileAzureResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Storage Profile"],"summary":"Create Azure storage profile","description":"Create Azure storage profile","operationId":"createAzureStorageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileAzureSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileAzureSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AzureStorageProfile"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/storage-profiles-aws":{"get":{"tags":["Storage Profile"],"summary":"Get AWS storage profiles","description":"Get all AWS storage profiles","operationId":"getAwsStorageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileAwsResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Storage Profile"],"summary":"Create AWS storage profile","description":"Create AWS storage profile","operationId":"createAwsStorageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileAwsSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileAwsSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsStorageProfile"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/storage-profiles":{"get":{"tags":["Storage Profile"],"summary":"Get storage profiles","description":"Get all storage profiles","operationId":"getStorageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Storage Profile"],"summary":"Create storage profile","description":"Create storage profile","operationId":"createStorageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"StorageProfileSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfileSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageProfile"}}}},"400":{"description":"invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/security-groups/{id}/operations/reconfigure":{"post":{"tags":["Security Group"],"summary":"Reconfigure operation for security group","description":"Day-2 reconfigure operation for new security groups provisioned by VMware Aria Automation. This is not supported for 'existing' security groups","operationId":"reconfigureSecurityGroup","parameters":[{"name":"id","in":"path","description":"The ID of the security group.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Security group Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/security-groups":{"get":{"tags":["Security Group"],"summary":"Get security groups","description":"Get all security groups","operationId":"getSecurityGroups","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Security Group"],"summary":"Create on-demand security group","description":"Provision a new on-demand security group","operationId":"createOnDemandSecurityGroup","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Security group Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SecurityGroupSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/projects":{"get":{"tags":["Project"],"summary":"Get projects","description":"Get all projects","operationId":"getProjects","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$orderBy","in":"query","description":"Sorting criteria in the format: property (asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","schema":{"type":"string"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. A set of operators and functions are defined for use:\nOperators: eq, ne, gt, ge, lt, le, and, or, not.\nFunctions:\nbool substringof(string p0, string p1)\nbool endswith(string p0, string p1)\nbool startswith(string p0, string p1)\nint length(string p0)\nint indexof(string p0, string p1)\nstring replace(string p0, string find, string replace)\nstring substring(string p0, int pos)\nstring substring(string p0, int pos, int length)\nstring tolower(string p0)\nstring toupper(string p0)\nstring trim(string p0)\nstring concat(string p0, string p1)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Project"],"summary":"Create project","description":"Create project","operationId":"createProject","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"validatePrincipals","in":"query","description":"If true, a limit of 20 principals is enforced. Additionally each principal is validated in the Identity provider and important rules for group email formats are enforced.","schema":{"type":"boolean"}}],"requestBody":{"description":"Project Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Project"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/networks":{"get":{"tags":["Network"],"summary":"Get networks","description":"Get all networks","operationId":"getNetworks","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Network"],"summary":"Create network","description":"Provision a new network based on the passed in constraints. The network should be destroyed after the machine is destroyed to free up resources.","operationId":"createNetwork","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Network Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/network-profiles":{"get":{"tags":["Network Profile"],"summary":"Get network profiles","description":"Get all network profiles","operationId":"getNetworkProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$select","in":"query","description":"Select a subset of properties to include in the response.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkProfileResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Network Profile"],"summary":"Create network profile","description":"Create network profile","operationId":"createNetworkProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"NetworkProfile instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkProfileSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkProfile"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/network-ip-ranges/{id}/unregistered-ip-addresses/release":{"post":{"tags":["Network IP Range"],"description":"release unregistered network IPs","operationId":"releaseUnregisteredNetworkIps","parameters":[{"name":"id","in":"path","description":"The ID of the network IP range.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Release IP Address Specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPAddressReleaseSpecification"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"501":{"description":"Not Implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/network-ip-ranges/{id}/ip-addresses/release":{"post":{"tags":["Network IP Range"],"summary":"release network IPs by user.","description":"release network IPs by user","operationId":"releaseNetworkIpsByUser","parameters":[{"name":"id","in":"path","description":"The ID of the network IP range.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Release IP Address Specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPAddressReleaseSpecification"}}},"required":true},"responses":{"501":{"description":"Not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/network-ip-ranges/{id}/ip-addresses/allocate":{"post":{"tags":["Network IP Range"],"summary":"allocate network IPs by user.","description":"allocate network IPs by user","operationId":"allocateNetworkIpsByUser","parameters":[{"name":"id","in":"path","description":"The ID of the network IP range.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Allocate IP Address Specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IPAddressAllocateSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"501":{"description":"Not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/network-ip-ranges":{"get":{"tags":["Network IP Range"],"summary":"Get internal IPAM network IP ranges","description":"Get all internal IPAM network IP ranges","operationId":"getInternalNetworkIPRanges","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkIPRangeBaseResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Network IP Range"],"summary":"Create internal network IP range","description":"Creates an internal network IP range.","operationId":"createInternalNetworkIPRange","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Network IP Range Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkIPRangeSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NetworkIPRangeBase"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/unregister":{"post":{"tags":["Compute"],"summary":"Unregister a vSphere provisioned machine","description":"Unregister a vSphere provisioned machine","operationId":"unregister","parameters":[{"name":"id","in":"path","description":"The id of the vSphere machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/suspend":{"post":{"tags":["Compute"],"summary":"Suspend operation for machine","description":"Second day suspend operation for machine","operationId":"suspendMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/snapshots":{"post":{"tags":["Compute"],"summary":"Create snapshot operation for machine","description":"Second day create snapshot operation for machine","operationId":"createMachineSnapshot","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Snapshot Specification details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnapshotSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/shutdown":{"post":{"tags":["Compute"],"summary":"Shut down operation for machine","description":"Second day shut down operation machine","operationId":"shutdownMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/revert/{snapshotId}":{"post":{"tags":["Compute"],"summary":"Revert snapshot operation for machine","description":"Second day revert snapshot operation for machine","operationId":"revertMachineSnapshot","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"snapshotId","in":"path","description":"Snapshot id to revert.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/restart":{"post":{"tags":["Compute"],"summary":"Restart operation for machine","description":"Second day restart operation for machine","operationId":"restartMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/resize":{"post":{"tags":["Compute"],"summary":"Resize operation for machine","description":"Second day resize operation for machine","operationId":"resizeMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"flavorName","in":"query","description":"The desired flavor to resize the Machine.","schema":{"type":"string"}},{"name":"cpuCount","in":"query","description":"The desired number of CPUs to resize the ","schema":{"type":"string"}},{"name":"memoryInMB","in":"query","description":"The desired memory in MBs to resize the Machine","schema":{"type":"string"}},{"name":"coreCount","in":"query","description":"The desired number of cores per socket to resize the Machine","schema":{"type":"string"}},{"name":"rebootMachine","in":"query","description":"Only applicable for vSphere VMs with the CPU Hot Add or Memory Hot Plug options enabled. If set to false, VM is resized without reboot.","schema":{"type":"boolean"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/reset":{"post":{"tags":["Compute"],"summary":"Reset operation for machine","description":"Second day reset operation for machine","operationId":"resetMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/reboot":{"post":{"tags":["Compute"],"summary":"Reboot operation for machine","description":"Second day reboot operation for machine","operationId":"rebootMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/power-on":{"post":{"tags":["Compute"],"summary":"Power-on operation for machine","description":"Second day power-on operation for machine","operationId":"powerOnMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/power-off":{"post":{"tags":["Compute"],"summary":"Power-off operation for machine","description":"Second day power-off operation for machine","operationId":"powerOffMachine","parameters":[{"name":"id","in":"path","description":"The id of the Machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/operations/change-security-groups":{"post":{"tags":["Security Group","Compute"],"summary":"Change security groups for a vSphere machine","description":" Change security groups for a vSphere machine network interfaces. Securing group that is part of the same deployment can be added or removed for a machine network interface.","operationId":"changeSecurityGroups","parameters":[{"name":"id","in":"path","description":"The id of the vSphere machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Change security groups details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeSecurityGroupSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines/{id}/disks":{"get":{"tags":["Compute","Disk"],"summary":"Get machine disks","description":"Get all machine disks","operationId":"getMachineDisks","parameters":[{"name":"id","in":"path","description":"The ID of the machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlockDeviceResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Compute","Disk"],"summary":"Attach machine disk","description":"Attach a disk to a machine.","operationId":"attachMachineDisk","parameters":[{"name":"id","in":"path","description":"The ID of the machine.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Disk Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiskAttachmentSpecification"}}},"required":true},"responses":{"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/machines":{"get":{"tags":["Compute"],"summary":"Get machines","description":"Get all machines","operationId":"getMachines","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$select","in":"query","description":"Select a subset of properties to include in the response.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}},{"name":"skipOperationLinks","in":"query","description":"If set to true will not return operation links.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Compute"],"summary":"Create machine","operationId":"createMachine","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Machine Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MachineSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/login":{"post":{"tags":["Login"],"summary":"Retrieve AuthToken for local csp users","description":"Retrieve AuthToken for local csp users.\nWhen accessing other endpoints the `Bearer` authentication scheme and the received `token` must be provided in the `Authorization` request header field as follows:\n`Authorization: Bearer {token}`","operationId":"retrieveAuthToken","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"CspLoginSpecification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CspLoginSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/load-balancers/{id}/operations/scale":{"post":{"tags":["Load Balancer"],"summary":"Scale operation for load balancer","description":"Second day scale operation for load balancer","operationId":"scaleLoadBalancer","parameters":[{"name":"id","in":"path","description":"The ID of the load balancer.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"LoadBalancer Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadBalancerSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/load-balancers/{id}/operations/delete":{"post":{"tags":["Load Balancer"],"summary":"Delete operation for load balancer","description":"Second day delete operation for load balancer","operationId":"deleteLoadBalancerOperation","parameters":[{"name":"id","in":"path","description":"The ID of the load balancer.","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"forceDelete","in":"query","description":"Controls whether this is a force delete operation. If true, best effort is made for deleting this load balancer. Use with caution as force deleting may cause inconsistencies between the cloud provider and VMware Aria Automation.","schema":{"type":"boolean"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/load-balancers":{"get":{"tags":["Load Balancer"],"summary":"Get load balancers","description":"Get all load balancers","operationId":"getLoadBalancers","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadBalancerResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Load Balancer"],"summary":"Create load balancer","description":"Create load balancer","operationId":"createLoadBalancer","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"LoadBalancer Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadBalancerSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/integrations-ipam/package-import/{id}":{"post":{"tags":["Package Import"],"summary":"Import package","description":"Import IPAM package on chunks of specified size with additional http method override. \n This API implements the TUS RFC: https://github.com/tus/tus-resumable-upload-protocol/blob/main/protocol.md#x-http-method-override","operationId":"importPackageHttpMethodOverride","parameters":[{"name":"id","in":"path","description":"IPAM package id","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"Tus-Resumable","in":"header","description":"Tus version","required":true,"schema":{"type":"string"},"example":"1.0.0"},{"name":"Upload-Offset","in":"header","description":"Upload offset","required":true,"schema":{"type":"string"},"example":100},{"name":"Content-Type","in":"header","description":"Content type","required":true,"schema":{"type":"string"},"example":"application/offset+octet-stream"},{"name":"X-HTTP-Method-Override","in":"header","description":"The http method to be used on the server instead of the actual method of the request. This header usage is part of the specfication for resumable uploads - https://tus.io/protocols/resumable-upload","required":true,"schema":{"type":"string"},"example":"PATCH"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}}}},"responses":{"204":{"description":"Successful operation"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportBadRequestResponse"}}}}}},"head":{"tags":["Package Import"],"summary":"Get package metadata.","description":"This API implements the TUS RFC: https://github.com/tus/tus-resumable-upload-protocol/blob/main/protocol.md","operationId":"getPackageMetadata","parameters":[{"name":"id","in":"path","description":"IPAM package id","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"Tus-Resumable","in":"header","description":"Tus version","required":true,"schema":{"type":"string"},"example":"1.0.0"}],"responses":{"200":{"description":"Successful operation"},"404":{"description":"No package with this id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"412":{"description":"Precondition Failed - no Tus-Resumable header","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"patch":{"tags":["Package Import"],"summary":"Import package","description":"Import IPAM package on chunks of specified size. \n This API implements the TUS RFC: https://github.com/tus/tus-resumable-upload-protocol/blob/main/protocol.md","operationId":"importPackage","parameters":[{"name":"id","in":"path","description":"IPAM package id","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"Tus-Resumable","in":"header","description":"Tus version","required":true,"schema":{"type":"string"},"example":"1.0.0"},{"name":"Upload-Offset","in":"header","description":"Upload offset","required":true,"schema":{"type":"string"},"example":100},{"name":"Content-Type","in":"header","description":"Content type","required":true,"schema":{"type":"string"},"example":"application/offset+octet-stream"}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"binary"}}}},"responses":{"204":{"description":"Successful operation"},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportBadRequestResponse"}}}}}}},"/iaas/api/integrations-ipam/package-import":{"post":{"tags":["Package Import"],"summary":"Reserve package","description":"This operation has two purposes: \n1. Make initial request for importing package. Location of the new package is returned as a response header if body is not provided. \n 2. Finalize the import when all batches are sent to the server if bundleIdis provided or make the complete import if compressedBundle is provided \n\nThis API implements the TUS RFC: https://github.com/tus/tus-resumable-upload-protocol/blob/main/protocol.md","operationId":"reservePackage","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"Tus-Resumable","in":"header","description":"Tus version","required":true,"schema":{"type":"string"},"example":"1.0.0"},{"name":"Upload-Length","in":"header","description":"Length of file in bytes","required":true,"schema":{"type":"string"},"example":1000}],"requestBody":{"description":"Package import request specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportRequest"}}}},"responses":{"409":{"description":"Conflict","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportConflictResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PackageImportBadRequestResponse"}}}}}},"options":{"tags":["Package Import"],"summary":"Get Tus options","description":"Tus options as headers: Tus-Extension, Tus-Max-Size, Tus-Version. \nThis API implements the TUS RFC: https://github.com/tus/tus-resumable-upload-protocol/blob/main/protocol.md","operationId":"getTusOption","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"204":{"description":"Successful operation"}}}},"/iaas/api/integrations":{"get":{"tags":["Integration"],"summary":"Get integrations","description":"Get all integrations within the current organization","operationId":"getIntegrations","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$select","in":"query","description":"Select a subset of properties to include in the response.","schema":{"type":"string"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Integration"],"summary":"Create an integration","description":"Create an integration in the current organization asynchronously","operationId":"createIntegrationAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}},{"name":"validateOnly","in":"query","description":"Only validate provided Integration Specification. Integration will not be created.","schema":{"type":"string"}}],"requestBody":{"description":"Integration instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/image-profiles":{"get":{"tags":["Image Profile"],"summary":"Get image profile","description":"Get all image profiles","operationId":"getImageProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageProfileResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Image Profile"],"summary":"Create image profile","description":"Create image profile. This image profile is created for the specific region. Image mapping definitions are created together with the profile. All existing image mapping definitions for the specified region will be replaced with the payload provided and if you want to keep the existing definitions, they should be added to the payload.","operationId":"createImageProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"ImageProfile instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageProfileSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageProfile"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/flavor-profiles":{"get":{"tags":["Flavor Profile"],"summary":"Get flavor profile","description":"Get all flavor profile","operationId":"getFlavorProfiles","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"includeCores","in":"query","description":"If set to true will include cores in response.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlavorProfileResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Flavor Profile"],"summary":"Create flavor profile","description":"Create flavor profile","operationId":"createFlavorProfile","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"includeCores","in":"query","description":"If set to true will include cores in response.","schema":{"type":"boolean"}}],"requestBody":{"description":"FlavorProfile instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlavorProfileSpecification"}}},"required":true},"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlavorProfile"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/deployments":{"get":{"tags":["Deployment"],"summary":"Get Deployments","description":"Get all deployments.","operationId":"getDeployments","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}},{"name":"$count","in":"query","description":"Flag which when specified, regardless of the assigned value, shows the total number of records. If the collection has a filter it shows the number of records matching the filter.","schema":{"type":"boolean"}},{"name":"$filter","in":"query","description":"Filter the results by a specified predicate expression. Operators: eq, ne, and, or.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Deployment"],"summary":"Create deployment","description":"Create a new Deployment.","operationId":"createDeployment","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Deployment specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeploymentSpecification"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Deployment"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/data-collectors":{"get":{"tags":["Data Collector"],"summary":"Get Data Collectors","description":"Get all Data Collectors.\n\nNote: Data collector endpoints are not available in VMware Aria Automation (on-prem) release.","operationId":"getDataCollectors","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"disabled","in":"query","description":"If query param is provided with value equals to true, only disabled data collectors will be retrieved. ","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataCollectorResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Data Collector"],"summary":"Create Data collector","description":"Create a new Data Collector.\n\nNote: Data collector endpoints are not available in VMware Aria Automation (on-prem) release.","operationId":"createDataCollector","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataCollectorRegistration"}}}}}}},"/iaas/api/compute-nats/{id}/operations/reconfigure":{"post":{"tags":["Compute Nat"],"summary":"Reconfigure operation for nat","description":"Day-2 reconfigure operation for nat","operationId":"reconfigureNat","parameters":[{"name":"id","in":"path","description":"The ID of the Compute Nat","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Reconfigure compute nat specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReconfigureComputeNatSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"NAT rules cannot be null","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/compute-nats":{"get":{"tags":["Compute Nat"],"summary":"Get Compute Nats","description":"Get all Compute Nats","operationId":"getComputeNats","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeNatResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Compute Nat"],"summary":"Create a Compute Nat","description":"Create a new Compute Nat. ","operationId":"createComputeNat","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Compute Nat Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeNatSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/compute-gateways":{"get":{"tags":["Compute Gateway"],"summary":"Get compute gateways","description":"Get all compute gateways","operationId":"getComputeGateways","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeGatewayResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Compute Gateway"],"summary":"Create a compute gateway","description":"Create a new compute gateway. ","operationId":"createComputeGateway","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"requestBody":{"description":"Compute Gateway Specification instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ComputeGatewaySpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts/{id}/private-image-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Enumerate all private images for enabled regions of the specified cloud account","operationId":"enumeratePrivateImages","parameters":[{"name":"id","in":"path","description":"Id of cloud account to enumerate","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts/{id}/health-check":{"post":{"tags":["Cloud Account"],"summary":"Starts cloud account health check","description":"Starts cloud account health check identified by its endpoint state","operationId":"runEndpointHealthCheck","parameters":[{"name":"id","in":"path","description":"The ID of the Cloud account","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"periodicHealthCheckId","in":"query","description":"If query param is provided then the endpoint health check is not started manually from the UI, but after a scheduled process.","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts/region-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Get the available regions for specified cloud account","description":"Get the available regions for specified cloud account","operationId":"enumerateRegionsAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Region enumeration specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountRegionEnumerationSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vsphere/{id}/private-image-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Enumerate all private images for enabled regions of the specified vSphere account","operationId":"enumeratePrivateImagesVSphere","parameters":[{"name":"id","in":"path","description":"Id of vSphere cloud account to enumerate","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vsphere/region-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Get the available regions for specified vSphere cloud account","description":"Get the available regions for specified vSphere cloud account","operationId":"enumerateVSphereRegionsAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"vSphere region enumeration specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVsphereRegionEnumerationSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vsphere":{"get":{"tags":["Cloud Account"],"summary":"Get vSphere cloud accounts","description":"Get all vSphere cloud accounts within the current organization","operationId":"getVSphereCloudAccounts","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}}],"responses":{"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVsphereResult"}}}}}},"post":{"tags":["Cloud Account"],"summary":"Create a cloud account","description":"Create a cloud account in the current organization","operationId":"createVSphereCloudAccountAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}},{"name":"validateOnly","in":"query","description":"If provided, it only validates the credentials in the Cloud Account Specification, and cloud account will not be created.","schema":{"type":"string"}}],"requestBody":{"description":"CloudAccount instance","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVsphereSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vmc/{id}/private-image-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Enumerate all private images for enabled regions of the specified VMC account","operationId":"enumeratePrivateImagesVMC","parameters":[{"name":"id","in":"path","description":"Id of VMC cloud account to enumerate","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vmc/region-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Get the available regions for specified VMC cloud account","description":"Get the available regions for specified VMC cloud account","operationId":"enumerateVmcRegionsAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"VMC region enumeration specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVmcRegionEnumerationSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vmc":{"get":{"tags":["Cloud Account"],"summary":"Get VMC cloud accounts","description":"Get all VMC cloud accounts within the current organization","operationId":"getVmcCloudAccounts","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVmcResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Cloud Account"],"summary":"Create a cloud account","description":"Create a cloud account in the current organization","operationId":"createVmcCloudAccountAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}},{"name":"validateOnly","in":"query","description":"If provided, it only validates the credentials in the Cloud Account Specification, and cloud account will not be created.","schema":{"type":"string"}}],"requestBody":{"description":"Cloud account VMC specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVmcSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vcf/{id}/private-image-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Enumerate all private images for enabled regions of the specified VCF account","operationId":"enumeratePrivateImagesVCF","parameters":[{"name":"id","in":"path","description":"Id of VCF cloud account to enumerate","required":true,"schema":{"type":"string"}},{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}}],"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vcf/region-enumeration":{"post":{"tags":["Cloud Account"],"summary":"Get the available regions for specified VCF cloud account","description":"Get the available regions for specified VCF cloud account","operationId":"enumerateVcfRegionsAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"VCF region enumeration specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVcfRegionEnumerationSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-vcf":{"get":{"tags":["Cloud Account"],"summary":"Get VCF cloud accounts","description":"Get all VCF cloud accounts within the current organization","operationId":"getVcfCloudAccounts","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful operation","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVcfResult"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}},"post":{"tags":["Cloud Account"],"summary":"Create a cloud account","description":"Create a cloud account in the current organization","operationId":"createVcfCloudAccountAsync","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","required":true,"schema":{"type":"string"}},{"name":"validateOnly","in":"query","description":"If provided, it only validates the credentials in the Cloud Account Specification, and cloud account will not be created.","schema":{"type":"string"}}],"requestBody":{"description":"Cloud account VCF specification","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CloudAccountVcfSpecification"}}},"required":true},"responses":{"202":{"description":"Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestTracker"}}}},"400":{"description":"Invalid Request - bad data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceErrorResponse"}}}}}}},"/iaas/api/cloud-accounts-nsx-v":{"get":{"tags":["Cloud Account"],"summary":"Get NSX-V cloud accounts","description":"Get all NSX-V cloud accounts within the current organization","operationId":"getNsxVCloudAccounts","parameters":[{"name":"apiVersion","in":"query","description":"The version of the API in yyyy-MM-dd format (UTC). For versioning information refer to /iaas/api/about","schema":{"type":"string"}},{"name":"$top","in":"query","description":"Number of records you want to get.","schema":{"type":"integer"}},{"name":"$skip","in":"query","description":"Number of records you want to skip.","schema":{"type":"integer"}}],"responses":{"200":{"description":"Successful operation","conte
[...]
